<ul class="breadcrumb">
  <li><a href="#/{{type}}">{{type}}</a> <span class="divider">/</span></li>
  <li class="active">{{name}}</li>
</ul>
<div class="page-header">
  <h1>{{type}} <small>{{name}}</small></h1>
</div>
<div class="row">
<div class="span8">
<small><em>({{jpsDetail.mainClass}})</em></small>
</div>
<div class="span2" ng-init="agentId=connect()">
<div class="progress" ng-hide="status % 2 == 1">
  <div class="bar" style="width: {{sampling.estimatedProgress}}%;"></div>
</div>
<button ng-show="status % 2 == 1" class="btn btn-primary" ng-click="dumpThread()">Dump Thread</button>
</div>
<div class="span2">
<a ng-show="status % 2 == 1" class="btn" href="#sampling-setting" role="button" data-toggle="modal">Sampling...</a>
<div class="btn-group" ng-hide="status % 2 == 1" >
  <button class="btn btn-inverse" ng-show="pause" ng-click="pause=false">Resume</button>
  <button class="btn btn-primary" ng-hide="pause" ng-click="pause=true">Pause</button>
  <button class="btn btn-inverse dropdown-toggle" ng-show="pause" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <button class="btn btn-primary dropdown-toggle" ng-hide="pause" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a ng-click="stopSampling()">Stop</a></li>
  </ul>
</div>
</div>
</div>
<div ng-show="dump">
<h2>Thread dump on {{dump.samplingOn | date:'medium'}} <small>take {{dump.samplingDuration}} ms</small></h2>
<pre>
{{dump.stackTraces}}
</pre>
</div>
<div ng-show="status == 3 || status == 4">
<h2>Sampling on {{sampling.startedOn | date:'short'}} with {{sampling.sampleCount | number}} thread dumps <small ng-hide="status == 3">remaining in {{remoteSampling.estimatedFinishedSec}} second</small><small ng-show="status == 3">total {{sampling.traceCount | number}} traces in {{(sampling.finishedOn - sampling.startedOn)/1000 | number}} seconds</small></h2>
<pre>
{{sampling.callTree}}
</pre>
</div>
<div id="sampling-setting" class="modal hide" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">X</button>
		<h3 id="myModalLabel">Sampling Setting</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputDuration">Duration</label>
				<div class="controls">
					<div class="input-append">
						<input type="number" id="inputDuration" min="1" max="60"
							class="span2" ng-model="samplingForm.duration"> <select class="btn-group input-small" ng-model="samplingForm.durationUnit">
							<option>second</option>
							<option>minute</option>
							<option>hour</option>
						</select>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputInterval">Interval</label>
				<div class="controls">
					<div class="input-append">
						<input type="number" id="Interval" min="1" class="span2" ng-model="samplingForm.interval">
						 <select class="btn-group input-small" ng-model="samplingForm.intervalUnit">
							<option>millisec</option>
							<option>second</option>
							<option>minute</option>
						</select>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" data-dismiss="modal"
			ng-click="doSampling()">Start</button>
	</div>
</div>